@model QuanLyBanMyPham.Models.Order

@{
    ViewBag.Title = "Xóa Hóa Đơn";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
}

<h1 style="color: #FF1493">Hủy Đơn Hàng</h1>

<div class="alert alert-warning">
    <strong>Cảnh báo!</strong> Bạn có chắc chắn muốn xóa hóa đơn này?
</div>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">Khách Hàng</dt>
        <dd class="col-sm-10">@Model.User.Username</dd>
        <dt class="col-sm-2">Ngày Xuất Hóa Đơn</dt>
        <dd class="col-sm-10">@Model.OrderDate</dd>
        <dt class="col-sm-2">Tổng Số</dt>
        <dd class="col-sm-10">@Model.TotalAmount</dd>
        <dt class="col-sm-2">Trạng Thái</dt>
        <dd class="col-sm-10">@Model.Status</dd>
    </dl>
</div>

<form asp-action="DeleteEmployee" method="post">
    <input type="hidden" asp-for="OrderId" />
    <button type="submit" class="btn btn-danger">Xác Nhận Hủy Đơn</button>
    <a asp-action="IndexEmployee" class="btn btn-secondary">Trở Về</a>
</form>
