<nav class="sb-sidenav accordion" id="sidenavAccordion">
<div class="sb-sidenav-menu">        
    <div class="nav">
         
            <a class="nav-link" asp-controller="Menu" asp-action="Admin">
                <div class="sb-nav-link-icon"><i class="fas fa-bars"></i></div>
                Trang Chủ
            </a>
            <a class="nav-link" asp-controller="Employee" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                Nhân Viên
            </a>
            <a class="nav-link" asp-controller="Supplier" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-truck"></i></div>
                Nhà Cung Cấp
            </a>
            <a class="nav-link" asp-controller="Customer" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                Khách Hàng
            </a>
            <a class="nav-link" asp-controller="Product" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                Sản Phẩm
            </a>
            <a class="nav-link" asp-controller="Category" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-layer-group"></i></div>
                Loại Sản Phẩm
            </a>
            <a class="nav-link" asp-controller="Order" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                Đơn Hàng
            </a>
            <a class="nav-link" asp-controller="Account" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-user-circle"></i></div>
                Tài Khoản
            </a>
        </div>
    </div>
</nav>
