    <nav class="sb-sidenav accordion" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
       

                <a class="nav-link" asp-controller="Supplier" asp-action="IndexEmployee">
                    <div class="sb-nav-link-icon"><i class="fas fa-truck"></i></div>
                    Nhà Cung Cấp
                </a>
                <a class="nav-link" asp-controller="Customer" asp-action="IndexEmployee">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    Khách Hàng
                </a>
                <a class="nav-link" asp-controller="Product" asp-action="IndexEmployee">
                    <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                    Sản Phẩm
                </a>
                <a class="nav-link" asp-controller="Category" asp-action="IndexEmployee">
                    <div class="sb-nav-link-icon"><i class="fas fa-layer-group"></i></div>
                    Loại Sản Phẩm
                </a>
                <a class="nav-link" asp-controller="Order" asp-action="IndexEmployee">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                    Đơn Hàng
                </a>
                <a class="nav-link" asp-controller="Account" asp-action="IndexEmployee">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-circle"></i></div>
                    Tài Khoản
                </a>

            </div>
        </div>
    </nav>
