
<nav class="sb-sidenav accordion" id="sidenavAccordion">
<div class="sb-sidenav-menu">
    <div class="nav">
               
        <a class="nav-link" asp-controller="Product" asp-action="IndexCustomer">
            <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
            Sản Phẩm
        </a>
        <a class="nav-link" asp-controller="Order" asp-action="IndexCustomer">
            <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
            Đơn Hàng
        </a>
             
        <a class="nav-link" asp-controller="Account" asp-action="IndexCustomer">
            <div class="sb-nav-link-icon"><i class="fas fa-user-circle"></i></div>
            Tài Khoản
        </a>

    </div>
</div>
</nav>
